<%- include('../_/admin_header'); -%>
<table width="100%">
    <tr>
        <th>
            Id
        </th>
        <th>
            Autor
        </th>
        <th>
            Titulo
        </th>
        <th>
            Notícia
        </th>
        <th>
            Data
        </th>
        <th>
            Comments
        </th>
        <th>
            Editar
        </th>
        <th>
            Excluir
        </th>
    </tr>
    <% for (var i=0; i<10; i++) {%>
        <tr>
            <td>
                Id
            </td>
            <td>
                Autor
            </td>
            <td>
                Titulo
            </td>
            <td>
                Notícia
            </td>
            <td>
                Data
            </td>
            <td>
                Comments
            </td>
            <td>
                Editar
            </td>
            <td>
                Excluir
            </td>
        </tr>
    <% }%>
</table>


<%- include('../_/admin_footer'); -%>
