<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Formulário de cadastro de Notícia</title>
		<link rel="stylesheet"
			  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			  crossorigin="anonymous">
	</head>
<body>
	<div class="container pt-5">

		<h1>Adicionar notícia</h1>

		<form action="/noticias/salvar" method="POST">
			<div class="form-group">
				<label for="titulo">Titulo</label>
				<input type="text" class="form-control" id="titulo" name="titulo" placeholder="titulo da notíocia">
			</div>
			<div class="form-group">
				<label for="noticia">Notícia</label>
				<textarea class="form-control" id="noticia" name="noticia" rows="5" cols="30" placeholder="Conteúdo da notícia"></textarea>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Submit">
			</div>
		</form>
	</div>
</body>
</html>