<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Notícias</title>
		<style>body{font-family: sans-serif;}td{padding: 3px;}</style>
	</head>
<body>
	<h1>Notícias</h1>
	<table>
		<tr>
			<th>Id</th>
			<th>Titulo</th>
			<th>Noticia</th>
			<th>Data</th>
		</tr>
		<% for(var i=0; i<noticias.length; i++){ %>
			<tr>
				<td><%= noticias[i].id_noticia %></td>
				<td><%= noticias[i].titulo %></td>
				<td><%= noticias[i].noticia %></td>
				<td><%= noticias[i].data_criacao %></td>
			</tr>
		<% }%>
	</table>
</body>
</html>
