<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>Notíciaa</title>
</head>
<body>
<h1>Notíciaa</h1>
<table>
	<tr>
		<th>Id</th>
		<th>Titulo</th>
		<th>Noticia</th>
		<th>Data</th>
	</tr>
	<tr>
		<td><%= noticia[0].id_noticia %></td>
		<td><%= noticia[0].titulo %></td>
		<td><%= noticia[0].noticia %></td>
		<td><%= noticia[0].data_criacao %></td>
	</tr>
</table>
</body>
</html>
