<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Notícias</title>
	</head>
<body>

	<h1>Notícias</h1>

	<table>
		<tr>
			<th>Id</th>
			<th>Titulo</th>
			<th>Noticia</th>
			<th>Data</th>
		</tr>
		<% for(var i=0; i<noticia.length; i++){ %>
			<tr>
				<td><%= noticia[i].id_noticia %></td>
				<td><%= noticia[i].itulo %></td>
				<td><%= noticia[i].noticia %></td>
				<td><%= noticia[i].data_criacao %></td>
			</tr>
		<% }%>
	</table>

</body>
</html>
