<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<title>Notícia</title>
	<style>body{font-family: sans-serif;text-align: center;}table{margin: auto;}td{padding: 3px;}</style>
</head>
<body>
<h1>Notícia</h1>
<table>
	<tr>
		<th>Id</th>
		<th>Titulo</th>
		<th>Noticia</th>
		<th>Data</th>
	</tr>
	<tr>
		<td><%= noticia[0].id_noticia %></td>
		<td><%= noticia[0].titulo %></td>
		<td><%= noticia[0].noticia %></td>
		<td><%= noticia[0].data_criacao %></td>
	</tr>
</table>
</body>
</html>
